<% if(activate=="index" ){ %>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="./">Home</a></li>
        <li role="presentation"><a href="./queryallcars">Query all cars</a></li>
        <li role="presentation"><a href="./addcar">Add a car</a></li>
        <li role="presentation"><a href="./querycar">Query a car</a></li>
        <li role="presentation"><a href="./changeowner">Change owner</a></li>
        <li role="presentation"><a href="./deletecar">Delete car</a></li>
    </ul>
    <% }else if(activate=="queryallcars" ){ %>
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="./">Home</a></li>
            <li role="presentation" class="active"><a href="#">Query all cars</a></li>
            <li role="presentation"><a href="./addcar">Add a car</a></li>
            <li role="presentation"><a href="./querycar">Query a car</a></li>
            <li role="presentation"><a href="./changeowner">Change owner</a></li>
            <li role="presentation"><a href="./deletecar">Delete car</a></li>
        </ul>
        <% }else if(activate=="addcar" ){ %>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="./">Home</a></li>
                <li role="presentation"><a href="./queryallcars">Query all cars</a></li>
                <li role="presentation" class="active"><a href="#">Add a car</a></li>
                <li role="presentation"><a href="./querycar">Query a car</a></li>
                <li role="presentation"><a href="./changeowner">Change owner</a></li>
                <li role="presentation"><a href="./deletecar">Delete car</a></li>
            </ul>
            <% }else if(activate=="querycar" ){ %>
                <ul class="nav nav-tabs">
                    <li role="presentation"><a href="./">Home</a></li>
                    <li role="presentation"><a href="./queryallcars">Query all cars</a></li>
                    <li role="presentation"><a href="./addcar">Add a car</a></li>
                    <li role="presentation" class="active"><a href="#">Query a car</a></li>
                    <li role="presentation"><a href="./changeowner">Change owner</a></li>
                    <li role="presentation"><a href="./deletecar">Delete car</a></li>
                </ul>
                <% }else if(activate=="deletecar" ){ %>
                    <ul class="nav nav-tabs">
                        <li role="presentation"><a href="./">Home</a></li>
                        <li role="presentation"><a href="./queryallcars">Query all cars</a></li>
                        <li role="presentation"><a href="./addcar">Add a car</a></li>
                        <li role="presentation"><a href="./querycar">Query a car</a></li>
                        <li role="presentation"><a href="./changeowner">Change owner</a></li>
                        <li role="presentation" class="active"><a href="#">Delete car</a></li>
                    </ul>
                    <% }else{ %>
                        <ul class="nav nav-tabs">
                            <li role="presentation"><a href="./">Home</a></li>
                            <li role="presentation"><a href="./queryallcars">Query all cars</a></li>
                            <li role="presentation"><a href="./addcar">Add a car</a></li>
                            <li role="presentation"><a href="./querycar">Query a car</a></li>
                            <li role="presentation" class="active"><a href="#">Change owner</a></li>
                            <li role="presentation"><a href="./deletecar">Delete car</a></li>
                        </ul>
                        <% } %>