<% if(activate=="index" ){ %>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="./">Home</a></li>
        <li role="presentation"><a href="./queryallmodels">Query all models</a></li>
        <li role="presentation"><a href="./addmodel">Add a model</a></li>
        <li role="presentation"><a href="./queryallproducts">Query all products</a></li>
        <li role="presentation"><a href="./createmodelproduct">Create Model Product</a></li>

    </ul>
    <% }else if(activate=="queryallmodels" ){ %>
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="./">Home</a></li>
            <li role="presentation" class="active"><a href="#">Query all models</a></li>
            <li role="presentation"><a href="./addmodel">Add a model</a></li>
            <li role="presentation"><a href="./queryallproducts">Query all products</a></li>
            <li role="presentation"><a href="./createmodelproduct">Create Model Product</a></li>
        </ul>
        <% }else if(activate=="addmodel" ){ %>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="./">Home</a></li>
                <li role="presentation"><a href="./queryallmodels">Query all models</a></li>
                <li role="presentation" class="active"><a href="#">Add a model</a></li>
                <li role="presentation"><a href="./queryallproducts">Query all products</a></li>
                <li role="presentation"><a href="./createmodelproduct">Create Model Product</a></li>
            </ul>
            <% }else if(activate=="queryallproducts" ){ %>
                <ul class="nav nav-tabs">
                    <li role="presentation"><a href="./">Home</a></li>
                    <li role="presentation"><a href="./queryallmodels">Query all models</a></li>
                    <li role="presentation"><a href="./addmodel">Add a model</a></li>
                    <li role="presentation" class="active"><a href="#">Query all products</a></li>
                    <li role="presentation"><a href="./createmodelproduct">Create Model Product</a></li>

                </ul>
                <% }else if(activate=="createmodelproduct" ){ %>
                    <ul class="nav nav-tabs">
                        <li role="presentation"><a href="./">Home</a></li>
                        <li role="presentation"><a href="./queryallmodels">Query all models</a></li>
                        <li role="presentation"><a href="./addmodel">Add a model</a></li>
                        <li role="presentation"><a href="./querymodel">Query a model</a></li>
                        <li role="presentation"><a href="./queryallproducts">Query all products</a></li>
                        <li role="presentation" class="active"><a href="#">Create Model Product</a></li>
                    </ul>
                    <% }else{ %>
                        <ul class="nav nav-tabs">
                            <li role="presentation"><a href="./">Home</a></li>
                            <li role="presentation"><a href="./queryallmodels">Query all models</a></li>
                            <li role="presentation"><a href="./addmodel">Add a model</a></li>
                            <li role="presentation"><a href="./querymodel">Query a model</a></li>
                            <li role="presentation" class="active"><a href="#">Query all products</a></li>
                        </ul>
                        <% } %>