<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head') %>
</head>

<body>
  <div class="container">
    <i class="fas fa-car"></i>
    <h1>AddCar Page</h1>
    <p>Add car</p>
    <%- include('partials/navbar') %>


      CarID <input type="text" name="id" /> <br>
      Maker <input type="text" name="make" /> <br>
      Model <input type="text" name="model" /> <br>
      Owner <input type="text" name="owner" /> <br>
      Count <input type="text" name="count" /> <br>
      <button class="btn btn-info">Submit</button>

  </div>
</body>
<script>

  $("button").click(function () {
    var carid = $('input[name=id]').val();
    var make = $('input[name=make]').val();
    var model = $('input[name=model]').val();
    var owner = $('input[name=owner]').val();
    var count = $('input[name=count]').val();


    $.post("./api/addcar", {
      id: carid,
      make: make,
      model: model,
      owner: owner,
      count: count,
    }, function (data, status) {
      if (data.status == 200) {
        alert(data.response);
      }

    });
  });
</script>

</html>