<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container">
        <i class="fas fa-product"></i>
        <h1>AddProduct Page</h1>
        <p>Add product</p>
        <%- include('partials/navbar') %>

            ProductID <input type="text" name="id" /> <br> ModelID
            <input type="text" name="modelid" value="<%= modelid %>" /><br> ModelName <input type="text" name="modelname" /> <br> Make <input type="text" name="make" /> <br> Status
            <input type="status" name="status" /><br> UpdatedAt <input type="text" name="updatedat" /> <br> Description <input type="text" name="description" /> <br>
            <button class="btn btn-info">Submit</button>

            <br/><br/>

            </table>
            <div id="producthead">
                <h2 id="productheadcontent">Product Create Result</h2>
            </div>
            <table class="styled-detail-table" id="tableDetail">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Model ID</th>
                        <th>Model Name</th>
                        <th>Make</th>
                        <th>Status</th>
                        <th>UpdatedAt</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody id="tableDetailContent">

                </tbody>
            </table>

    </div>
</body>
<script>
    $(document).ready(function() {
        $("#producthead").hide();
        $("#tableDetail").hide();

        $('input[name=id]').val("PRODUCT-00001")

        $.post("./api/querymodel", {
            id: $('input[name=modelid]').val()
        }, function(data, status) {
            if (data.status == 200) {
                alert(data.response);
            }

            $('input[name=modelid]').val(data[0].ID);
            $('input[name=modelname]').val(data[0].name);
        });

        $.get("./api/queryallproducts", function(data, status) {
            if (data.status == 200) {
                alert(data.response);
            }

            console.log(data)

            $('input[name=id]').val(`PRODUCT-${String(data.length + 1).padStart(5, '0')}`)
        });

        $('input[name=make]').val("SAMSUNG");
        $('input[name=status]').val(1);
        $('input[name=updatedat]').val(new Date().toLocaleString());
        $('input[name=description]').val("제품 생산~");

    });

    $("button").click(function() {
        // $.get("./api/queryallproducts", function(data, status) {
        //     if (data.status == 200) {
        //         alert(data.response);
        //     }

        //     if (data.length == 0) {
        //         $('input[name=id]').val("PRODUCT-00001")
        //     } else {
        //         $('input[name=id]').val(`PRODUCT-${String(data.length + 1).padStart(5, '0')}`)
        //     }
        // });

        $('input[name=updatedat]').val(new Date().toLocaleString());

        $('input[name=id]').prop('readonly', true);
        $('input[name=modelid]').prop('readonly', true);
        $('input[name=modelname]').prop('readonly', true);
        $('input[name=make]').prop('readonly', true);
        $('input[name=status]').prop('readonly', true);
        $('input[name=updatedat]').prop('readonly', true);
        $('input[name=description]').prop('readonly', true);

        $('input[name=id]').prop('disable', true);
        $('input[name=modelid]').prop('disable', true);
        $('input[name=modelname]').prop('disable', true);
        $('input[name=make]').prop('disable', true);
        $('input[name=status]').prop('disable', true);
        $('input[name=updatedat]').prop('disable', true);
        $('input[name=description]').prop('disable', true);

        var productid = $('input[name=id]').val();
        var modelid = $('input[name=modelid]').val();
        var modelname = $('input[name=modelname]').val();
        var make = $('input[name=make]').val();
        var status = $('input[name=status]').val();
        var updatedat = $('input[name=updatedat]').val();
        var description = $('input[name=description]').val();


        $.post("./api/addproduct", {
            id: productid,
            modelid: modelid,
            modelname: modelname,
            make: make,
            status: status,
            updatedat: updatedat,
            description: description
        }, function(data, status) {
            if (data.status == 200) {
                alert(data.response);
            }

            $.post("./api/queryproduct", {
                id: productid
            }, function(data, status) {
                $('#productheadcontent').text(data[0].ID + " Product Create Result");
                html = '';

                html += '<tr>';
                html += '<td>' + data[0].ID + ' </td>';
                html += '<td>' + data[0].modelID + ' </td>';
                html += '<td>' + data[0].modelName + ' </td>';
                html += '<td>' + data[0].make + ' </td>';
                html += '<td>' + data[0].status + ' </td>';
                html += '<td>' + data[0].updatedAt + ' </td>';
                html += '<td>' + data[0].description + ' </td>';

                html += '</tr>';
                $('#tableDetailContent').html(html);

                $("#producthead").show();
                $("#tableDetail").show();
            })

        });
    });
</script>

</html>