<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head') %>
</head>

<body>
  <div class="container">
    <i class="fas fa-trash"></i>
    <h1>Welcome!</h1>
    <p>delete car</p>
    <%- include('partials/navbar') %>



      <div id="head">
        <h2>Delete Car</h2>
      </div>

      <table class="styled-table">
        <thead>
          <tr>
            <th>CarID</th>
            <th>Make</th>
            <th>Model</th>
            <th>Colour</th>
            <th>Owner</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody id="tableContent">

        </tbody>

  </div>
</body>

</html>

<script>
  function queryAllcars() {
    $.get("./api/queryallcars", function (data, status) {

      html = '';


      for (var i = 0; i < data.length; i++) {

        html += '<tr>';
        html += '<td>' + data[i].ID + ' </td>';
        html += '<td>' + data[i].make + ' </td>';
        html += '<td>' + data[i].model + ' </td>';
        html += '<td>' + data[i].colour + ' </td>';
        html += '<td>' + data[i].owner + ' </td>';
        html += '<td>  <img src="delete.png" width = 15 onclick="deleteCar(\'' + data[i].ID + '\')" style="cursor:pointer;"> </td>';
        html += '</tr>';

      }
      $('#tableContent').html(html);
    });
  }
  $(document).ready(function () {

    queryAllcars();



  });
  function deleteCar(carID) {

    $.post("./api/deletecar", {
      carid: carID
    },
      function (data, status) {
        if (data.status == 200) {
          alert(data.response);
        }
        queryAllcars();

      });

  }
</script>