<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head') %>
</head>

<body>
  <div class="container">
    <i class="fas fa-trash"></i>
    <h1>Welcome!</h1>
    <p>push stock</p>
    <%- include('partials/navbar') %>



      <div id="head">
        <h2>Delete Stock</h2>
      </div>

      <table class="styled-table">
        <thead>
          <tr>
            <th>StockID</th>
            <th>Make</th>
            <th>Model</th>
            <th>Count</th>
            <th>Owner</th>
            <th>Push</th>
            <th>Pop</th>
          </tr>
        </thead>
        <tbody id="tableContent">

        </tbody>

  </div>
</body>

</html>

<script>
  function queryAllstocks() {
    $.get("./api/queryallstocks", function (data, status) {

      html = '';


      for (var i = 0; i < data.length; i++) {

        html += '<tr>';
        html += '<td>' + data[i].ID + ' </td>';
        html += '<td>' + data[i].make + ' </td>';
        html += '<td>' + data[i].model + ' </td>';
        html += '<td>' + data[i].count + ' </td>';
        html += '<td>' + data[i].owner + ' </td>';
        html += '<td>  <img src="delete.png" width = 15 onclick="pushStock(\'' + data[i].ID + '\',1)" style="cursor:pointer;"> </td>';
        html += '<td>  <img src="delete.png" width = 15 onclick="popStock(\'' + data[i].ID + '\',1)" style="cursor:pointer;"> </td>';
        html += '</tr>';

      }
      $('#tableContent').html(html);
    });
  }
  $(document).ready(function () {

    queryAllstocks();



  });
  function pushStock(stockID, count) {

    $.post("./api/pushstock", {
      stockid: stockID,
			count: count
    },
      function (data, status) {
        if (data.status == 200) {
          alert(data.response);
        }
        queryAllstocks();

      });

  }
  function popStock(stockID, count) {

    $.post("./api/popstock", {
      stockid: stockID,
			count: count
    },
      function (data, status) {
        if (data.status == 200) {
          alert(data.response);
        }
        queryAllstocks();

      });

  }
</script>
