<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head') %>
</head>

<body>
  <div class="container">
    <i class="fas fa-book-reader"></i>
    <h1>QueryStock Page</h1>
    <p>Query stock!</p>
    <%- include('partials/navbar') %>


      StockID <input type="text" name="id" /> <br>
      Maker <input type="text" name="make" /> <br>
      Model <input type="text" name="model" /> <br>
      Owner <input type="text" name="owner" /> <br>
      Count <input type="text" name="count" /> <br>
      <button class="btn btn-info">Submit</button>

      <div id="fabstockhead">
        <h2>Fabstock Query Result</h2>
      </div>

      <table class="styled-table">
        <thead>
          <tr>
            <th>StockID</th>
            <th>Make</th>
            <th>Model</th>
            <th>Count</th>
            <th>Owner</th>
          </tr>
        </thead>
        <tbody id="tableContent">

        </tbody>
      </table>
  </div>

</body>
<script>

  $("button").click(function () {
    var stockid = $('input[name=id]').val();
    var make = $('input[name=make]').val();
    var model = $('input[name=model]').val();
    var owner = $('input[name=owner]').val();
    var count = $('input[name=count]').val();


    $.post("./api/querystock", {
      id: stockid,
      make: make,
      model: model,
      owner: owner,
      count: count,
    }, function (data, status) {
      html = '';
      if (data.response == "empty result") {
        html += '<tr>';
        html += '<td colspan="5"> Not Found Result</td>';
        html += '</tr>'
        $('#tableContent').html(html);
      }


      for (var i = 0; i < data.length; i++) {

        html += '<tr>';
        html += '<td>' + data[i].ID + ' </td>';
        html += '<td>' + data[i].make + ' </td>';
        html += '<td>' + data[i].model + ' </td>';
        html += '<td>' + data[i].count + ' </td>';
        html += '<td>' + data[i].owner + ' </td>';
        html += '</tr>';

      }
      $('#tableContent').html(html);
    });
  });
</script>

</html>